body{
    background-color:#f5f1e4;
}
html {
    scroll-behavior: smooth;
}
h1 {
    text-align: center;
    font-family: 'Archivo', sans-serif;
    font-size: 3em;
    padding-top: 1em;
}  
h2 {
    font-size: 2em;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    
}
p {
    font-size: 1em;
    text-align: center;
    font-family: 'Archivo', sans-serif;
    padding-left: 3rem;
    padding-right: 3rem;
}
ol {
    text-align: center;
    list-style-position: inside;
    font-family: 'Archivo', sans-serif;
}
li{
    text-align: center;
    font-family: 'Archivo', sans-serif;
}
img {
    width: 35%;
    height: 50%;
}

table, th, td {
  text-align: center;
  border:1px solid black;
  font-family: 'Archivo', sans-serif;
  margin-left: auto;
  margin-right: auto;
}

#homepagecontent {
    margin-top: 25px;
    font-size: 21px;
    text-align: center;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}



